thespian
bson
pydantic
boto3
ffprobe-python
watchdog
loguru
pymongo
dynaconf
mimesis
flake8
autoflake
isort
mypy
flake8-fixme
python-dotenv
pytest
pytest-cov
pytest-asyncio
pytest-env
pytest-randomly
pytest-mimesis