fastapi
loguru
docker
uvicorn
pymongo
python-dotenv
pydantic
black
httpx
flake8
autoflake
isort
mypy
flake8
asgi-lifespan
mimesis
pytest
pytest-cov
pytest-asyncio
pytest-env
pytest-randomly
pytest-mimesis
docker
bump2version
# production
gunicorn
starlette